#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */
/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  max-width: 1280px;
  background-color: #f1f1f1;
  margin: 30px auto;
  text-align: center;
}

.glasses-selection {
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
}

.glasses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.glasses-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.glasses-image {
  width: 100% ;
  overflow: hidden;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.glasses-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.glasses-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #b80b0b;
  cursor: pointer;
}

.customer-name {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  margin-top: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs button {
  padding: 8px 16px;
  margin: auto 5px;
  background-color: #ddd;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #3498db;
  color: #fff;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 5px;
}

.order-table th,
.order-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.order-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
